.container{
  margin-right:15%;
  margin-left:15%;
  margin:auto;
  max-width:750px;
}

.fourrowitem{
  width:24%;
  margin-right:.5%;
  margin-left:.5%;
}

.name{
  font-family: 'Source Sans Pro', sans-serif;
  color: #3F7BBE;
  letter-spacing: 1px;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
}